* {
    box-sizing: border-box;
  }

  body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 20px;
    justify-content: center;
    text-align: center;
    background:  rgb(27, 58, 116);
    color: #fff;
    font-size: 180%;
  }

  .sidebar {
    margin: 20px;
  }

  .currentinfo {
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    margin: 12px;
  }

  .card{
    margin: 18px;
  }

  .card-body {
    background-color:  rgb(94, 118, 163);
    color: white;
  }

  .submit{
    width: 100%;
    margin: 6px;
  }

  .button button {
    background-color: #a9acab; 
    border: 1px solid rgb(94, 118, 163); 
    color: white; 
    padding: 8px 12px; 
    cursor: pointer; 
    width: 80%; 
    display: block 
  }
  
  .button button:not(:last-child) {
    border-bottom: none; 
  }
  
  .button button:hover {
    background-color: #446fa7;
  }